<div class="row">
	<div class="container">
		<h3> Sistema de Cadastramento de Novos Treinadores </h3>
		<div class = "col l6">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu libero eget orci faucibus aliquam. In auctor libero vehicula, tincidunt risus non, egestas ipsum. Morbi eu ex sit amet libero porta placerat. Vestibulum et accumsan ante. Integer id justo vitae lorem aliquam pellentesque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam a tincidunt augue, sit amet blandit massa.</p>
		</div>
		<div class = "col l6">
			<p>Sed at ex et ex tincidunt ultrices. Pellentesque dignissim tristique enim quis semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat sem et est hendrerit blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae sagittis diam. Ut lectus mi, tristique eget massa vel, fermentum convallis justo. Curabitur vitae nibh vitae mauris ullamcorper semper.</p>
		</div>
	</div>
</div>
<app-modal></app-modal>